# Cogs 18 Final Project: People's Birth Year 
- Name: Maya(Zhengchun) Xu
- PID: A15614437
- Topic: People's Birth Year

Some Links I use for coding checking this project:
https://stackoverflow.com/questions/13130574/bound-method-error
http://data8.org/datascience/tables.html
https://dzone.com/articles/python-class-attributes-vs-instance-attributes
and Kaggle Website:
https://www.kaggle.com/qwp8510/olympic-history-analysis-sklearn/comments

Before start everything, I want to install pip and import numpy and pandas into my notebook

In [264]:
!pip install --user pandas
!pip install --user numpy
!pip install --user Table

Requirement already satisfied: pandas in /opt/conda/lib/python3.6/site-packages (0.19.2)
Requirement already satisfied: python-dateutil>=2 in /opt/conda/lib/python3.6/site-packages (from pandas) (2.7.5)
Requirement already satisfied: pytz>=2011k in /opt/conda/lib/python3.6/site-packages (from pandas) (2018.7)
Requirement already satisfied: numpy>=1.7.0 in /opt/conda/lib/python3.6/site-packages (from pandas) (1.12.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil>=2->pandas) (1.12.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.6/site-packages (1.12.1)
Requirement already satisfied: Table in ./.local/lib/python3.6/site-packages (0.0.4)

In [265]:
#import numpy and pandas and other packages that I might be using
import numpy as np
import pandas as pd
from datascience import Table
from datascience.predicates import are

There are total three functions I will be creating for this project, they are for:
- the animal of the people's birth year
- if there was a summer Olympic Games taking place
- if that person can drink legally right now (at the year of 2019)

# Part One: Year of Animal
I know that this year (2019) is the Year of Pig, so by calculating, 2016 was the Year of Monkey which is also a year that can be divided exactly by 12 (as a cycle). Therefore, I will start from there:

In [354]:
#define the first function
def year_of_animal(number):
    if number%12==0:
#start from the year of Monkey
        return "Year of Monkey!"
    if number%12==1:
        return "Year of Chicken!"
    if number%12==2:
        return "Year of Dog!"
    if number%12==3:
        return "Year of Pig!"
    if number%12==4:
        return "Year of Monse!"
    if number%12==5:
        return "Year of Cattle!"
    if number%12==6:
        return "Year of Tiger!"
    if number%12==7:
        return "Year of Rabbit!"
    if number%12==8:
        return "Year of Dragon!"
    if number%12==9:
        return "Year of Snake!"
    if number%12==10:
        return "Year of Horse!"
#end by the last animal
    if number%12==11:
        return "Year of Goat!"

I was born in 1999, there I will use my own birth year to check if the code work correctly

In [356]:
my_birth_year=year_of_animal(1999)  
my_birth_year

'Year of Rabbit!'

It was right! I was born in the Year of Rabbit!

In [357]:
assert isinstance(my_birth_year, str)
assert my_birth_year == 'Year of Rabbit!'

# Part Two: Summer Olympic Game
I want to determine that if there was a summer olympic game taking place in the person's birth year. I also wasnt to find the city and country where the games taking place. I went on Kaggle and found a dataset there

In [358]:
olympic=Table.read_table('olym.csv')
# I only want the column of "City", "Country", "Year", so I am going to only select those columns that are needed
# and save them in a new table
olympic=olympic.select('City','Country','Year')
olympic

City       | Country        | Year
Athens     | Greece         | 1896
Paris      | France         | 1900
St. Louis  | United States  | 1904
London     | United Kingdom | 1908
Stockholm  | Sweden         | 1912
Antwerp    | Belgium        | 1920
Chamonix   | France         | 1924
Paris      | France         | 1924
St. Moritz | Switzerland    | 1928
Amsterdam  | Netherlands    | 1928
... (41 rows omitted)

In [255]:
# in order to use the function where for table, I need to import are
from datascience.predicates import are

def summer_olympic_year(number):
    if number%4==0:
        special_year=olympic.where('Year',are.equal_to(number))
        City=special_year.column('City')
#with the step below, city will become a string, no longer an array
        city=' '.join(City)
        Country=special_year.column('Country')
#same step as above mentioned
        country=' '.join(Country)
        return city,country
    else:
        return "No summer Olympic games."

In [285]:
year_of_two_thousand_eighteen=summer_olympic_year(2008)
year_of_two_thousand_eighteen

('Beijing', 'China')

In [284]:
assert type(summer_olympic_year(2008))==tuple
assert year_of_two_thousand_eighteen==('Beijing', 'China')

# Part Three: Legally Drinking
I want to find that by the year of 2019, if the person can be legally drinking; if not, when can she/he be?

In [279]:
def legally_drinking(number):
    if 2019-number>=21:
        return "Congrats! You can drink legally in States!!"
    else:
#by plusing a 21 to the birth year, I can find the year that the person can be legally drinking
        year=number+21
        return year

I use my cousin's birth year to test the result, he was born in 1993, so he should be legally drinking long time ago

In [286]:
my_cousin_birth_year=legally_drinking(1993)
my_cousin_birth_year

'Congrats! You can drink legally in States!!'

In [287]:
assert type(legally_drinking(1993))==str
assert my_cousin_birth_year== "Congrats! You can drink legally in States!!"

# Fun Part !!
After finishing the three functions, I decided to challenge myself to put the three function into one class (for fun).

In [359]:
class YearOfBirth():
    def __init__(self,name,number,animal='Year of Rabbit',result='No summer Olympic games.',by_year=2020):
        self.name=name
        self.number=number
# as I ran the test trail below, I find that it requires me to put defalt value for animal, result, and by_year
# so I did that
        self.animal=animal
        self.result=result
        self.by_year=by_year
    def year_of_animal(self,number):
# I change the original function a bit to make it more fit the class
        if self.number%12==0:
            self.animal= "Year of Monkey!"
        if self.number%12==1:
            self.animal="Year of Chicken!"
        if self.number%12==2:
            self.animal="Year of Dog!"
        if self.number%12==3:
            self.animal="Year of Pig!"
        if self.number%12==4:
            self.animal="Year of Monse!"
        if self.number%12==5:
            self.animal="Year of Cattle!"
        if self.number%12==6:
            self.animal="Year of Tiger!"
        if self.number%12==7:
            self.animal="Year of Rabbit!"
        if self.number%12==8:
            self.animal="Year of Dragon!"
        if self.number%12==9:
            self.animal="Year of Snake!"
        if self.number%12==10:
            self.animal="Year of Horse!"
        if self.number%12==11:
            self.animal="Year of Goat!"
    
    def summer_olympic_year(self):
        if self.number%4==0:
            self.special_year=olympic.where('Year',are.equal_to(self.number))
            City=special_year.column('City')
            self.city=' '.join(City)
            Country=special_year.column('Country')
            self.country=' '.join(Country)
        else:
            self.result="No summer Olympic games."
            
    def legally_drinking(self):
        if 2019-self.number>=21:
            self.congrats="Congrats! You can drink legally in States!!"
        else:
            self.by_year=self.number+21
            
    def check(self):
#Here's to the printing part!
        if self.number%4==0 and 2019-self.number>=21:
            return print(self.name,"your birth year is", self.number,"it was the",self.animal,
                 "the Summer Olympic Game took place in",self.city, self.country,self.congrats)
        if self.number%4==0 and 2019-self.number<=21:
            return print(self.name,"your birth year is", self.number,"it was the",self.animal,
                         "the Summer Olympic Game took place in",self.city, self.country,"you can drink at year", 
                         self.by_year)
        if self.number%4!=0 and 2019-self.number>=21:
            return print(self.name,"your birth year is", self.number,"it was the",self.animal,
                 self.result,self.congrats)
        else:
            print(self.name,"your birth year is", self.number,"it was the",self.animal,
                 self.result,"you can drink at year", self.by_year)

In [360]:
#I use myself's data to test the class, and it seems to give me a result that contains the correct informaiton of mine
Maya=YearOfBirth("Maya",1999)
Maya.check()

Maya your birth year is 1999 it was the Year of Rabbit No summer Olympic games. you can drink at year 2020